<div class="container">

  <div style="max-width: 650px; margin: auto;">
    <h1 class="page-header">Image Upload Form</h1>
    <p class="lead">Select a PNG or JPEG image to upload with a max filesize of {{ maxFileUploadSize }} MB.</p>

    <form id="upload-image-form" action="" method="post" enctype="multipart/form-data">
      <div id="image-preview-div" style="display: none">
        <label for="exampleInputFile">Selected image:</label>
        <br>
        <img id="preview-img" src="noimage">
      </div>
      <div class="form-group">

        <input type="file" (change)="onImagePicked($event)" />
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
          <img [src]="imagePreview">
        </div>

      </div>
      <button (click)="onUpload($event)" class="btn btn-lg btn-primary" id="upload-button" type="submit" [disabled]="isUploadImageDisabled()">Upload image</button>
    </form>

  </div>

</div>
